{% extends 'base.html.twig' %}

{% block body %}
    {{ include('micro-post/_partial/post.html.twig', {'post': post, need_to_link_wrap: false}) }}

    {% set isLiked = post.isLikedByUser(app.user) %}

    <div class="pt-2">
        <button
            style="display: {{ isLiked ? 'none' : 'block' }};"
            class="btn btn-sm btn-outline-secondary"
            id="like"
        >Like <span class="badge badge-light js-likes_count">{{ post.getLikedBy.count }}</span></button>

        <button
            style="display: {{ isLiked ? 'block' : 'none' }};"
            class="btn btn-sm btn-outline-danger"
            id="unlike"
        >Unlike <span class="badge badge-light js-likes_count">{{ post.getLikedBy.count }}</span></button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        window.PATHS.like = `{{ path('likes_like', {'id': post.id}) }}`;
        window.PATHS.unlike = `{{ path('likes_unlike', {'id': post.id}) }}`;
    </script>

    {{ encore_entry_script_tags('js/micro_post') }}
{% endblock %}
