{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

    {% for post in posts %}
        <div class="border-bottom border-gray">
            <a href="{{ path('micro_post_detail', {'id': post.id}) }}">
                {{ include('micro-post/_partial/post.html.twig', {'post': post}) }}
            </a>

            <small class="d-block text-right pb-2">
                <a href="{{ path('micro_post_edit', {'id': post.id}) }}">Edit</a> |
                <a href="{{ path('micro_post_delete', {'id': post.id}) }}">Delete</a>
            </small>
        </div>
    {% endfor %}
{% endblock %}
