<div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?text={{ post.user.initials }}&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded">

    <p class="media-body mb-0 small lh-125">
        <span class="d-block">
            <a href="{{ path('micro_post_user', {'username': post.user.username}) }}">
                <strong class="text-gray-dark">@{{ post.user.username }}</strong>
            </a>

            <small>· {{ post.time|date('d/m/Y') }}</small>
        </span>

        {% if need_to_link_wrap %}
            <a href="{{ path('micro_post_detail', {'id': post.id}) }}">{{ post.text }}</a>
        {% else %}
            {{ post.text }}
        {% endif %}
    </p>
</div>
